 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

#logo, #menu, #login {
    background-color:#2f2c79;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 70px;
    float: left;
    margin-top: 10px;
   
   


}

#logo {
    width: 25%;
}

#menu {
    width: 50%;
}

#login {
    width: 25%;
}

main {
    clear: both;
}

#Titulodosite, #imagem {
    float: left;
    width: 50%;
    height: 190px;
    background-color: #4040fb;
    text-align: center;
    line-height: 190px;
    margin-top: 10px;
}

#secao1, #secao2, #secao3 {
    float: left;
    width: 33.33%;
    height: 200px;
    background-color:#6565ff;
    text-align: center;
    line-height: 200px;
    margin-top: 10px;
    border:20px solid white;
}

footer {
    clear: both;
    background-color: white;
    padding: 15px ;
    text-align: center;
    border:10px solid white;
    
}

footer div {
    width: 25%;
    height: 115px;
    float: left;
    background-color: #8787fb;
    color: white;
    line-height: 70px;
    font-size: small;
    border:10px solid white;
}