<!DOCTYPE html>
<html lang="pt-br">
<head>
	<link rel="stylesheet"type="text/css" href="">
	<meta charset="utf-8">
	<title></title>
    <style>
    	div{
    		background-color:#acbfb7;
    		border:1px solid black;

    	}
	</style>
</head>
<body>
	<header>
		
	</header>
	<main>
		<section>
			
		</section>
	</main>
	<footer>
		
	</footer>
</body>
</html>